<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357729817077-uurcodove6tkqg566209vs3n637i8sjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357729817077-uurcodove6tkqg566209vs3n637i8sjd</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHinW_5bgFFlsuplSCNUpkkH0O8YWLq4</string>
	<key>GCM_SENDER_ID</key>
	<string>357729817077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mylawyer.MyLawyer</string>
	<key>PROJECT_ID</key>
	<string>my-lawyer-dea44</string>
	<key>STORAGE_BUCKET</key>
	<string>my-lawyer-dea44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357729817077:ios:a0c908250ed8b1e7</string>
	<key>DATABASE_URL</key>
	<string>https://my-lawyer-dea44.firebaseio.com</string>
</dict>
</plist>